.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

.container{
    background-color: chocolate;
    height: 100px;
}


.row
{
    /*background-color:aquamarine;*/
    margin: 5px;
}
.col{
    /*background-color: darkorange;*/
    margin: 5px;
    background-color: rgb(231, 201, 162);
}
  
  